html,
body,
p {
  margin: 0;
  padding: 0;
}

label {
  font-size: 15px;
}

button {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 0px;
  border: 1px solid #282c34;
  border-radius: 10px;
  color: #282c34;
  background-color: transparent;
}

input {
  min-width: 300px;
  padding: 10px;
  background: transparent;
  border: 1px solid #282c34;
  border-radius: 5px;
  color: #282c34;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
  background-image: url('../../assets/images/logo.png') ;
  background-repeat: no-repeat;
  border: none;
}

button:hover {
  background-color: #22252b;
  color: white;
  cursor: pointer;
}

.userPageContainer {
  width: 100vw;
  min-height: 100vh;
  background-color: #C0C0C0;
  color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.userPageLogoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.userPageSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.userPageSubmit {
  margin-bottom: 15px;
}

.userPageInfoContainer {
  margin-top: 20px;
  padding: 10px 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #22240b;
  border-radius: 10px;
  background-color: transparent;
}

.userPageSearchInput {
  margin-bottom: 20px;
}

.userPageUserName {
  padding: 20px 0;
}

.userPageUserImage {
  border-radius: 10px;
}